﻿@model PhotoAlbum.Models.ErrorViewModel

@{
    ViewBag.Title = PageTitles.ErrorOccurs;
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">@SuccessfullyEndErrorResources.ErrorOccursTitle</h4>
    <p>@Model.ErrorMessage</p>
    <a href="@Model.RedirectUri" class="btn btn-outline-danger">@SuccessfullyEndErrorResources.ButtonGoBack</a>
</div>
