﻿@model PhotoAlbum.Models.SuccessfullyCompletedViewModel

@{
    ViewBag.Title = PageTitles.SuccessfullyCompleted;
}

<div class="container">
    <div class="row">
        @if (string.IsNullOrEmpty(Model.Title))
        {
            <h4>@Model.Title</h4>
        }
    </div>
    <div class="row">
        <div class="alert alert-success col" role="alert">
            @Model.Description
            @{
                // TODO: Add default description if it is null or empty
            }
        </div>
    </div>
    <div class="row">
        <a class="btn btn-success" href="@Model.ReturnUri">@SuccessfullyEndErrorResources.ButtonGoBack</a>
    </div>
</div>