﻿@using System.Threading
@using Microsoft.AspNet.Identity
@using PhotoAlbum.Controllers
@using PhotoAlbum.Helpers
@using PhotoAlbum.Infrastructure.Helpers
@using PhotoAlbum.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/imgs")
    @Scripts.Render("~/bundles/modernizr")
    <!-- I know it's wrong, but it only one way to solve -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.2/umd/popper.min.js"></script>
</head>
<body>

<nav class="navbar navbar-light navbar-expand bg-light fixed-top">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand d-flex flex-row" href="@Url.Action("GetExploreView", "Explore")">
            <h5 class="ph-logo-title">Photogram</h5>
        </a>
        <!-- Main Menu -->
        <div class="d-flex flex-fill justify-content-center">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="d-flex flex-column justify-content-center mx-3 nav-link @((string)Request.RequestContext.RouteData.Values["action"] == nameof(ExploreController.GetFollowingUpdatesAsync)? "text-body" : "text-muted")"
                   href="@Url.Action("GetFollowingUpdatesAsync", "Explore")">
                    <div class="d-flex justify-content-center">
                        <i class="fa fa-camera-retro"></i>
                    </div>
                    <small>@LayoutResources.News</small>
                </a>
                <a class="d-flex flex-column justify-content-center mx-3 nav-link @((string)Request.RequestContext.RouteData.Values["action"] == nameof(ExploreController.GetExploreView)? "text-body" : "text-muted")"
                   href="@Url.Action("GetExploreView", "Explore")">
                    <div class="d-flex justify-content-center">
                        <i class="fa fa-search"></i>
                    </div>
                    <small>@LayoutResources.Explore</small>
                </a>
                <a class="d-flex flex-column justify-content-center mx-3 nav-link @((string)Request.RequestContext.RouteData.Values["action"] == nameof(AlbumController.GetUserAlbumsView)? "text-body" : "text-muted")"
                   href="@Url.Action(nameof(AlbumController.GetUserAlbumsView), "Album", new {UserId = User.Identity.GetUserId()})">
                    <div class="d-flex justify-content-center">
                        <i class="far fa-clone"></i>
                    </div>
                    <small>@LayoutResources.Albums</small>
                </a>
                if (User.IsInRole("Administrator"))
                {
                    <a class="d-flex flex-column justify-content-center mx-3 nav-link @((string)Request.RequestContext.RouteData.Values["action"] == nameof(UserController.GetUserManagementListView)? "text-body" : "text-muted")"
                       href="@Url.Action("GetUserManagementListView", "User")">
                        <div class="d-flex justify-content-center">
                            <i class="far fa-user"></i>
                        </div>
                        <small>@LayoutResources.Users</small>
                    </a>
                }
            }
        </div>
        <!-- Profile Preview -->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="ml-auto @(User.Identity.IsAuthenticated ? "mr-2": "")">
                <div class="dropdown">
                    <div
                        class="ph-user-sm-avatar image img-thumbnail"
                        id="profileDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="background-image: url('@Url.Action("GetImage", "Image", new {id = User.Identity.GetClaim(ClaimNamesConstants.AvatarClaimName)})'), url('./../../Content/imgs/default_avatar.svg')">
                    </div>
                    <div class="dropdown-menu" id="ph-profile-drop-down-menu" aria-labelledby="profileDropdown">
                        @Html.ActionLink(LayoutResources.Profile, "GetDetailedUserView", new {UserId = User.Identity.GetUserId(), controller = "User"}, new {@class = "dropdown-item"})
                        @Html.ActionLink(LayoutResources.Settings, "GetSettingsView", new {controller = "User"}, new {@class = "dropdown-item"})
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink(LayoutResources.Logout, "Logout", new {controller = "Account"}, new {@class = "dropdown-item"})
                    </div>
                </div>
            </div>
        }
        <ul class="navbar-nav ml-auto @(User.Identity.IsAuthenticated ? "border-left": "")">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="cultures" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @CultureManager.CurrentCulture.TwoLetterName.ToUpper()
                    <img class="ph-culture-img" src="~/Content/imgs/cultures/@CultureManager.CurrentCulture.Image" alt="@CultureManager.CurrentCulture.FullName"/>
                </a>
                <div class="dropdown-menu" aria-labelledby="cultures">
                    @foreach (var supportedCulture in CultureManager.SupportedCultures
                        .Where(supportedCulture => supportedCulture.TwoLetterName != Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName))
                    {
                        <a class="nav-link"
                           href="@Url.Action("SetCulture", "Culture", new RouteValueDictionary {["cultureCode"] = supportedCulture.TwoLetterName, ["redirectUri"] = Request.Url})">
                            @supportedCulture.TwoLetterName.ToUpper()
                            <img class="ph-culture-img" src="~/Content/imgs/cultures/@supportedCulture.Image" alt="@supportedCulture.FullName"/>
                        </a>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="body-content pt-5 mt-5 h-100">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")
@RenderSection("scripts", false)

</body>
</html>