﻿@model PhotoAlbum.Models.User.AlbumPreviewViewModel

<div class="d-flex flex-wrap flex-column justify-content-around overflow-hidden my-2 ph-album-preview">
    <!-- Preview -->
    <div class="d-flex justify-content-center image img-thumbnail rounded-circle m-auto ph-album-preview-photo"
         style="background-image: url('@Url.Action("GetImage", "Image", new {id = Model.PreviewPhotoId})'), url('./../../Content/imgs/no-photo.svg')">
    </div>
    <!-- Title -->
    <div class="d-block text-truncate ph-album-preview-title text-center">
        <small class="text-break">@Html.DisplayFor(model => model.Title)</small>
    </div>
</div>