﻿@model PhotoAlbum.Models.PaginatedViewModel<PhotoAlbum.Models.Post.CommentViewModel>

<div class="d-flex flex-column py-2">
    @foreach (var comment in Model.Items)
    {
        <div class="d-flex flex-row">
            <div class="d-inline-block mr-2">
                <strong>@Html.ActionLink($"{comment.FirstName} {comment.LastName}", "GetDetailedUserView", new { UserId = comment.AuthorId, controller = "User" }, new { @class = "text-truncate text-decoration-none text-dark" })</strong> 
                @comment.Content
            </div>
        </div>
    }
</div>