﻿@model string[]

<div class="d-flex justify-content-center my-4">
    <div class="d-flex flex-column">
        <div class="d-flex justify-content-center">
            <img class="ph-info-icon" src="~/Content/imgs/empty.svg" alt="Empty"/>
        </div>
        <div class="d-flex justify-content-center">
            <h4>@Model[0]</h4>
        </div>
        @if (Model.Length == 2)
        {
            <div class="d-flex justify-content-center">
                <small class="text-muted">@Model[1]</small>
            </div>
        }
    </div>
</div>