﻿@model IList<PhotoAlbum.Models.User.PhotoMetadataPreviewViewModel> 

<div id="carouselExampleControls" class="carousel slide d-flex flex-fill m-auto border overflow-hidden" data-ride="carousel">
    <div class="carousel-inner">
        @for (var index = 0; index < Model.Count; index++)
        {
            <div class="ph-load-photo-preview carousel-item @(index == 0 ? "active": "")">
                <img src="@Url.Action("GetImage", "Image", new {id = Model[index].FileId})" class="d-block w-100" alt="@index post photo."/>
            </div>
        }
    </div>
    @if (Model.Count > 1)
    {
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    }
</div>