﻿@model PhotoAlbum.Models.PaginatedViewModel<PhotoAlbum.Models.User.PhotoMetadataPreviewViewModel> 

<div class="d-flex flex-row flex-wrap">
    <div class="card-columns">
        @foreach (var postPreview in Model.Items)
        {
            <a class="card rounded-0" href="@Url.Action("GetDetailedPostView", "Post", new {postPreview.PostId})">
                <img class="card-img-top img-fluid rounded-0" src="@Url.Action("GetImage", "Image", new {id = postPreview.FileId})" alt="Card image cap">
            </a>
        }
    </div>
</div>