﻿@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.Post.PreviewPostListAggregatedModel

@if (!Model.Posts.Items.Any())
{
    @Html.Partial("NoItems", new[] { "No posts" })
}
else
{
    <div class="ph-500-width m-auto">
        <nav class="d-flex justify-content-between navbar navbar-light bg-light">
            <div class="d-flex btn-group mb-1">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @PostListResources.SortOrder
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="@Url.Action("GetExploreView", "Explore", new {SortOrder = "date:desc"})">
                        @PostListResources.SortByDescending
                        <i class="fas fa-arrow-down"></i>
                    </a>
                    <a class="dropdown-item" href="@Url.Action("GetExploreView", "Explore", new {SortOrder = "date:asc"})">
                        @PostListResources.SortByAscending
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </div>
            </div>
            @using (Html.BeginForm("GetExploreView", "Explore", FormMethod.Get, new { @class = "d-flex form-inline" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(model => model.QueryParameters.SearchText, null, new { @class = "form-control mb-1 mr-sm-2", type = "search", placeholder = @PostListResources.SearchTextPlaceholder })
                @Html.ValidationMessageFor(model => model.QueryParameters.SearchText)
                <button class="btn btn btn-outline-secondary my-2 my-sm-0" type="submit">@PostListResources.ButtonSearch</button>
            }
        </nav>
        @foreach (var post in Model.Posts.Items)
        {
            <a name="Post_@post.Post.Id"></a>
            <div class="d-flex flex-column justify-content-center mb-4">
                <!-- Author preview -->
                <div class="d-flex flex-row">
                    <div class="pl-2">
                        @Html.Partial("UserAvatartPartial", new UserAvatarViewModel { PhotoId = post.Author.ProfilePhotoId })
                    </div>
                    <div class="d-flex flex-grow-1 flex-column pl-4 justify-content-center">
                        <div class="d-flex">
                            <strong>@Html.ActionLink($"{post.Author.FirstName} {post.Author.LastName}", "GetDetailedUserView", new { UserId = post.Author.Id, controller = "User" }, new { @class = "d-block text-truncate text-decoration-none text-dark" }) </strong>
                        </div>
                        <div class="d-flex">
                            <p class="text-muted">@post.Post.Location</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column py-1 justify-content-center">
                        @if (!post.IsLiked)
                        {
                            <a class="text-dark" href="@Url.Action("LikePost", "Like", new {postId = post.Post.Id, redirectUri = Request.RawUrl + $"#Post_{post.Post.Id}"})">
                                <i class="far fa-heart fa-2x"></i>
                            </a>
                        }
                        else
                        {
                            <a class="text-dark" href="@Url.Action("UnlikePost", "Like", new {postId = post.Post.Id, redirectUri = Request.RawUrl + $"#Post_{post.Post.Id}"})">
                                <i class="fas fa-heart fa-2x"></i>
                            </a>
                        }
                        <div class="justify-content-center d-flex">
                            <strong class="m-auto">@post.LikesCount</strong>
                        </div>
                    </div>
                </div>
                <!-- Photos carousel -->
                <div class="ph-load-photo-preview overflow-hidden m-auto">
                    @Html.Partial("PhotosCarouselPreviewPartial", post.Post.Photos)
                </div>
                <!-- Post description -->
                <div class="d-flex flex-column card border-top-0 rounded-0 rounded-bottom mb-3">
                    <div class="card-body py-2">
                        <div class="pb-2">
                            @Html.ActionLink(
                                post.Album.Title,
                                "GetAlbumView",
                                "Album",
                                new { AlbumId = post.Album.Id },
                                new { @class = "d-block text-truncate" })
                            <span class="d-block text-truncate">@post.Post.Description</span>
                        </div>
                        @if (post.Comments.Any())
                        {
                            foreach (var comment in post.Comments)
                            {
                                <div class="d-flex flex-row">
                                    <strong class="mr-1">@Html.ActionLink($"{comment.FirstName} {comment.LastName}", "GetDetailedUserView", "User", new { UserId = comment.AuthorId }, new { @class = "text-truncate text-decoration-none text-dark" })</strong>
                                    @comment.Content
                                </div>
                            }
                            <div class="d-flex mt-2">
                                <small class="text-muted">@Html.ActionLink("View all", "GetDetailedPostView", "Post", new { PostId = post.Post.Id }, new { @class = "text-truncate text-decoration-none text-dark" })</small>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}