﻿ @model PhotoAlbum.Models.Shared.SimplePaginationViewModel

<nav class="m-auto">
    <ul class="pagination pagination-sm justify-content-end">
        @if (Model.CurrentPage == 0)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">@SimplePaginationResources.PreviousPage</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="@Model.PreviousUrl">@SimplePaginationResources.PreviousPage</a>
            </li>
        }

        @if (Model.CurrentPage + 1 < Model.TotalPages)
        {

            <li class="page-item">
                <a class="page-link" href="@Model.NextUrl">@SimplePaginationResources.NextPage</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">@SimplePaginationResources.NextPage</a>
            </li>
        }
    </ul>
</nav>