﻿@model PhotoAlbum.Models.Post.CreatePostAggregatedViewModel
@{
    ViewBag.Title = PageTitles.PostCreating;
}

<div class="d-flex flex-column justify-content-center">
    <div class="d-flex flex-column overflow-hidden m-auto px-1">

        @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            <!-- Album Selection -->
            <div class="d-flex overflow-auto py-2 flex-column">
                <div class="d-flex flex-row ph-horizontal-scroll flex-nowrap justify-content-center">
                    @foreach (var album in Model.Albums)
                    {
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-column m-auto mb-2 justify-content-center">
                                <label for="Album_@album.Id" class="ph-album-preview-check px-2">
                                    @Html.RadioButton("AlbumId", album.Id, false, new {id = "Album_" + album.Id})
                                    <div class="ph-album-radio-button p-2 rounded">
                                        @Html.Partial("AlbumPreviewPartial", album)
                                    </div>
                                </label>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @Html.ValidationMessage("AlbumId")
            <!-- Image preview -->
            <div class="d-flex flex-column">
                <label for="file" class="ph-file-upload">
                    <input type="file" id="file" name="Photos" accept=".jpg, .jpeg, .png" onchange="preview(event, 'target1')"/>
                    <div class="ph-image-custom-loader d-flex flex-fill justify-content-center" id="target1">
                        <div class="d-flex text-muted my-5">
                            @CreatePostResources.FirstPhoto
                        </div>
                    </div>
                </label>

                <label for="file2" class="ph-file-upload">
                    <input type="file" id="file2" name="Photos" accept=".jpg, .jpeg, .png" onchange="preview(event, 'target2')"/>
                    <div class="ph-image-custom-loader d-flex flex-fill justify-content-center" id="target2">
                        <div class="d-flex text-muted my-5">
                            @CreatePostResources.SecondPhoto
                        </div>
                    </div>
                </label>

                <label for="file3" class="ph-file-upload">
                    <input type="file" id="file3" name="Photos" accept=".jpg, .jpeg, .png" onchange="preview(event, 'target3')"/>
                    <div class="ph-image-custom-loader d-flex flex-fill justify-content-center" id="target3">
                        <div class="d-flex text-muted my-5">
                            @CreatePostResources.ThirdPhoto
                        </div>
                    </div>
                </label>
                @Html.ValidationMessage("Photos")
                <div class="d-none ph-load-photo-preview overflow-hidden" id="imagePreview">
                    <img class="d-flex" id="imagePreview"/>
                </div>
            </div>

            <!-- Post Information -->
            <div class="form-group">
                @Html.Label(CreatePostResources.NewPostDescription, new {@class = "text-truncate"})
                <div class="col p-0">
                    @Html.TextArea("Description", new {@class = "form-control", rows = 3})
                    @Html.ValidationMessage("Description")
                </div>
            </div>

            <div class="form-group">
                @Html.Label(CreatePostResources.NewPostLocation, new {@class = "text-truncate"})
                <div class="col p-0">
                    @Html.Editor("Location", new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessage("Location")
                </div>
            </div>

            <div class="d-flex mb-5">
                <button type="submit" class="btn btn-primary">@CreatePostResources.CreatingFormOkButton</button>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/image-uploader.js"></script>
}