﻿@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.Post.FullPostViewModel

@{
    ViewBag.Title = PageTitles.PostDetails;
}

<div class="d-flex flex-column ph-500-width justify-content-center m-auto mb-4">
    <!-- Author preview -->
    <div class="d-flex flex-row">
        <div class="pl-2">
            @Html.Partial("UserAvatartPartial", new UserAvatarViewModel {PhotoId = Model.Author.ProfilePhotoId})
        </div>
        <div class="d-flex flex-grow-1 flex-column pl-4 justify-content-center">
            <div class="d-flex">
                <strong>@Html.ActionLink($"{Model.Author.FirstName} {Model.Author.LastName}", "GetDetailedUserView", new {UserId = Model.Author.Id, controller = "User"}, new {@class = "d-block text-truncate text-decoration-none text-dark"}) </strong>
            </div>
            <div class="d-flex">
                <p class="text-muted">@Html.DisplayFor(model => model.Location)</p>
            </div>
        </div>
        <div class="d-flex flex-column py-1 justify-content-center">
            <div>
                @if (!Model.IsLiked)
                {
                    <a class="text-dark" href="@Url.Action("LikePost", "Like", new {postId = Model.Id, redirectUri = Request.RawUrl})">
                        <i class="far fa-heart fa-2x"></i>
                    </a>
                }
                else
                {
                    <a class="text-dark" href="@Url.Action("UnlikePost", "Like", new {postId = Model.Id, redirectUri = Request.RawUrl})">
                        <i class="fas fa-heart fa-2x"></i>
                    </a>
                }
            </div>
            <div class="justify-content-center d-flex">
                <strong class="m-auto">@Html.DisplayFor(model => model.LikeCount)</strong>
            </div>
        </div>
    </div>
    <!-- Photos carousel -->
    <div class="ph-load-photo-preview overflow-hidden m-auto">
        @Html.Partial("PhotosCarouselPreviewPartial", Model.Photos)
    </div>
    <!-- Post description and comments -->
    <div class="d-flex flex-column card border-top-0 rounded-0 rounded-bottom mb-3">
        <div class="card-body py-2">
            <div class="pb-2">
                @Html.ActionLink(Model.Album.Title, "GetAlbumView", "Album", new { AlbumId = Model.Album.Id }, new { @class = "d-block text-truncate" })
                <span class="d-block text-truncate">@Html.DisplayFor(model => model.Description)</span>
            </div>
            @if (Model.Comments.Items.Any())
            {
                @Html.Partial("CommentsListPartial", Model.Comments)
            }
            @if (Model.Comments.TotalPages > 1)
            {
                @Html.Partial("SimplePaginationPartial", new SimplePaginationViewModel
                {
                    TotalPages = Model.Comments.TotalPages,
                    CurrentPage = Model.Comments.CurrentPage,
                    NextUrl = Url.Action("GetDetailedPostView", "Post", new { PostId = Model.Id, pageNumber = Model.Comments.CurrentPage + 1 }),
                    PreviousUrl = Url.Action("GetDetailedPostView", "Post", new { PostId = Model.Id, pageNumber = Model.Comments.CurrentPage - 1 })
                })
            }
            <!-- Create comment form -->
            <div class="d-flex ph-comment-post-form border-top">
                @using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post, new { @class = "d-flex flex-row flex-fill" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("PostId", Model.Id)
                    <div class="d-flex flex-grow-1">
                        @Html.TextArea("Content", "", new { @class = "ph-comment-content-input d-flex flex-grow-1", placeholder = @PostDetailedResources.CommentPlaceholder, rows = 1 })
                        @Html.ValidationMessage("Content")
                    </div>

                    <div class="d-flex pr-2">
                        <button type="submit" class="text-primary ph-button-as-link">@PostDetailedResources.SendComment</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>