﻿body, html {
    margin: 0 !important;
    padding: 0 !important;
    padding-bottom: 20px;
    padding-top: 50px;
    overflow-x: hidden;
}


@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

i { font-family: 'Font-Awesome' }

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

footer {
    width: 100%;
}

/* Photo album styles */

/* Culture */

.ph-culture-dropdown { min-width: 90px !important; }

.ph-culture-img {
    display: inline-block;
    width: 25px;
}

/* Navbar */

.navbar-light { background-color: white !important; }

.dropdown-menu { min-width: 0 !important; }

ul.ph-cultures { list-style: none; }

.ph-logo-icon {
    margin-top: 7px;
    width: 25px;
}

.ph-logo-title {
    font-family: "Cookie", "cursive";
    font-size: 2.2rem;
}

/* Forms */

.form-control { max-width: 100% !important; }

.field-validation-error { color: #dc3545 !important; }

/* User Profile */

.image {
    background-size: cover;
    border-image-slice: 20;
    border-radius: 50%;
    height: 50px;
    margin: 30px auto;
    position: relative;
    width: 70px;
}

.image:after {
    background: #fff;
    border-radius: 50%;
    bottom: -5px;
    content: '';
    left: -5px;
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.image:before {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-radius: 50%;
    bottom: -8px;
    content: '';
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
    transition: transform 5s ease-in-out;
    z-index: -1;
}

.image:hover:before { transform: rotate(888deg); }

.ph-user-avatar {
    height: 70px;
    max-width: 70px !important;
    width: 70px;
    background-position: center;
}

.ph-user-sm-avatar {
    height: 30px;
    margin: 0;
    max-width: 30px !important;
    overflow: hidden;
    width: 30px;
}

#ph-profile-drop-down-menu {
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.ph-new-post-button:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.ph-info-icon {
    height: 30px;
    width: 30px;
}

/* Album preview */

.ph-album-preview {
    height: 100px;
    width: 100px;
}

.ph-album-preview-photo {
    height: 70px;
    max-width: 70px !important;
    width: 70px;
}

.ph-album-preview-photo:before {
    background-image: none !important;
}

.ph-album-preview-title {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Post create */

.ph-create-post-images-preview {
    height: 500px;
    width: 500px;
}

.ph-horizontal-scroll {
    max-width: 500px;
    overflow-x: auto;
    width: 500px;
    padding: 5px;
}

.ph-horizontal-scroll::-webkit-scrollbar { height: 5px; }

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    width: 5px;
}

.ph-album-preview-check {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.ph-file-upload input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.ph-album-preview-check input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
}

.ph-file-upload:hover input ~ .ph-image-custom-loader { background-color: rgba(0, 0, 0, 0.15); }

.ph-album-preview-check:hover input ~ .ph-album-radio-button { background-color: rgba(0, 0, 0, 0.1) }

.ph-album-preview-check input:checked ~ .ph-album-radio-button { background-color: rgba(0, 100, 255, 0.2) }

.ph-image-custom-loader {
    background-color: rgba(0, 0, 0, 0.1);
    border: 4px dashed #ccc;
    border-radius: 10px;
}

.ph-load-photo-preview {
    height: 500px;
    width: 500px;
}

.ph-load-photo-preview > img { object-fit: cover; }

/* Post View */

.ph-500-width { width: 500px; }

.ph-comment-post-form {
    margin-left: -20px;
    margin-right: -20px;
}

.ph-comment-content-input {
    background: transparent;
    border: none;
    resize: none;
    margin: 10px 20px;
}

.ph-comment-content-input:focus {
     border: none;
    outline: none;
}

.ph-button-as-link {
    background: transparent;
    border: none;
}

.ph-button-as-link:focus {
    background: transparent;
    border: none;
    outline: none;
}

.ph-button-as-link:active {
    border: none;
    outline: none;
}