﻿@using Microsoft.AspNet.Identity
@model PhotoAlbum.Models.Post.PostStatisticViewModel

@{
    ViewBag.Title = PageTitles.Statistics;
}

<div class="container-fluid row p-0 py-3 m-0">
    <!-- User Statistic -->
    <div class="col-md-12 p-0">
        <div class="d-flex flex-column">
            <!-- User -->
            <div class="d-flex justify-content-between">
                <!-- To user profile  -->
                <div class="d-flex mt-3">
                    <strong>@Html.ActionLink("My profile", "GetDetailedUserView", new { UserId = User.Identity.GetUserId(), controller = "User" }, new { @class = "d-block text-truncate text-decoration-none text-dark" }) </strong>
                </div>
            </div>
            <!-- Statistics -->
            <div class="border-top mt-1 py-2">
                <div class="d-flex flex-row justify-content-around p-0 m-0">
                    <div class="d-flex flex-column justify-content-center text-truncate">
                        <div class="d-flex justify-content-center">
                            <strong>@Html.DisplayFor(model => model.ViewsCount)</strong>
                        </div>
                        <div>
                            <small class="text-muted">@Html.DisplayNameFor(model => model.ViewsCount)</small>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center text-truncate">
                        <div class="d-flex justify-content-center">
                            <strong>@Html.DisplayFor(model => model.LikesCount)</strong>
                        </div>
                        <div>
                            <small class="text-muted">@Html.DisplayNameFor(model => model.LikesCount)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>