﻿@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.Post.PreviewPostListAggregatedModel

@{
    ViewBag.Title = PageTitles.News;
}

@Html.Partial("PostListPartial", Model)

<div class="ph-500-width m-auto">
    <div class="d-flex flex-column justify-content-center m-auto mb-4 mt-3">
        @if (Model.Posts.TotalPages > 1)
        {
            @Html.Partial("SimplePaginationPartial", new SimplePaginationViewModel
            {
                TotalPages = Model.Posts.TotalPages,
                CurrentPage = Model.Posts.CurrentPage,
                NextUrl = Url.Action("GetFollowingUpdatesAsync", "Explore", new { pageNumber = Model.Posts.CurrentPage + 1 }),
                PreviousUrl = Url.Action("GetFollowingUpdatesAsync", "Explore", new { pageNumber = Model.Posts.CurrentPage - 1 })
            })
        }
    </div>
</div>

