﻿@model PhotoAlbum.Models.Account.LoginViewModel

@{
    ViewBag.Title = PageTitles.UserLogin;
}

<div class="row">
    <div class="col-md-6 col-sm-12 m-auto">
        <div class="card mt-3">
            <div class="card-header">
                @LoginResources.LoginFormTitle
            </div>
            <div class="card-body">
                @using (Html.BeginForm("LoginUser", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = LoginResources.LoginEmail})
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = LoginResources.LoginPassword })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <button type="submit" class="btn btn-outline-primary btn-block">@LoginResources.LoginFormOkButton</button>

                    <div class="w-100 align-content-center">
                        <small>
                            @LoginResources.LoginRegistrationQuestion
                            @Html.ActionLink(LoginResources.LoginRegisterButton, "GetRegisterView", "Account", new { @class = "btn-link" })
                        </small>
                    </div>
                }
            </div>
        </div>
    </div>
</div>