﻿@model PhotoAlbum.Models.Account.RegisterUserViewModel

@{
    ViewBag.Title = PageTitles.UserRegister;
}

<div class="row">
    <div class="col-md-6 col-sm-12 m-auto">
        <div class="card mt-3">
            <div class="card-header">
                @RegisterResources.RegistrationFormTitle
            </div>
            <div class="card-body">
                @using (Html.BeginForm("RegisterUser", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.FirstName)
                        @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control", placeholder = RegisterResources.RegistrationFirstNamePlaceholder})
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.LastName)
                        @Html.TextBoxFor(model => model.LastName, new {@class = "form-control", placeholder = RegisterResources.RegistrationLastNamePlaceholder})
                        @Html.ValidationMessageFor(model => model.LastName)
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new {@class = "form-control", placeholder = RegisterResources.RegistrationEmailPlaceholder})
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder = RegisterResources.Password})
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordConfirm)
                        @Html.PasswordFor(model => model.PasswordConfirm, new {@class = "form-control", placeholder = RegisterResources.PasswordConfirm})
                        @Html.ValidationMessageFor(model => model.PasswordConfirm)
                    </div>

                    <button type="submit" class="btn btn-outline-primary btn-block">@RegisterResources.RegistrationFormOkButton</button>
                    <div class="w-100 align-content-center">
                        <small>
                            @RegisterResources.RegistrationLoginQuestion
                            @Html.ActionLink(RegisterResources.RegistrationLoginButton, "GetLoginView", "Account", new {@class = "btn-link"})
                        </small>
                    </div>
                }
            </div>
        </div>
    </div>
</div>