﻿@using PhotoAlbum.Infrastructure.Helpers
@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.Album.FullAlbumViewModel

@{
    ViewBag.Title = PageTitles.AlbumPhotosView;
}

<div class="container-fluid row p-0 py-3 m-0">
    <div class="col-md-4 px-5">
        @if (User.IsAllowedEditAlbum(Model.Album.OwnerId))
        {
            <div class="row">
                <div class="ml-auto">
                    @Html.ActionLink(AlbumPhotosResources.Edit, "GetEditAlbumFormView", "Album", new {albumId = Model.Album.Id}, new {@class = "nav-link"})
                </div>
            </div>
        }
        <!-- Posts, Photos -->
        <div class="d-flex flex-row justify-content-around p-0 m-0">
            <div class="d-flex flex-column justify-content-center text-truncate">
                <div class="d-flex justify-content-center">
                    <strong>@Html.DisplayFor(model => model.PostCount)</strong>
                </div>
                <div>
                    <small class="text-muted">@Html.DisplayNameFor(model => model.PostCount)</small>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-center text-truncate">
                <div class="d-flex justify-content-center">
                    <strong>@Html.DisplayFor(model => model.PhotosCount)</strong>
                </div>
                <div>
                    <small class="text-muted">@Html.DisplayNameFor(model => model.PhotosCount)</small>
                </div>
            </div>
        </div>
        <!-- Title and description -->
        <div class="d-flex flex-column pt-4">
            <div class="d-flex flex-wrap text-break">
                <strong>@Html.DisplayFor(model => model.Album.Title)</strong>
            </div>
            @if (!string.IsNullOrEmpty(Model.Album.Description))
            {
                <div class="d-flex text-wrap text-truncate text-break">
                    <p class="font-weight-light">@Html.DisplayFor(model => model.Album.Description)</p>
                </div>
            }
            @if (Model.Album.IsPrivate)
            {
                <small class="text-muted">@Html.DisplayNameFor(model => model.Album.IsPrivate)</small>
            }
        </div>
    </div>
    <!-- User Photos -->
    <div class="col-md-8 p-0">
        <div class="d-flex flex-column">
            <!-- Photos -->
            <div class="border-top mt-1 py-2">
                @if (!Model.Photos.Items.Any())
                {
                    @Html.Partial("NoItems", new[]{@UserDetailedResources.UserNoPosts })
                }
                else
                {
                    @Html.Partial("PostsTiledPartial", Model.Photos)
                }
                @if (Model.Photos.TotalPages > 1)
                {
                    <div class="d-flex">
                        @Html.Partial("SimplePaginationPartial", new SimplePaginationViewModel
                        {
                            TotalPages = Model.Photos.TotalPages,
                            CurrentPage = Model.Photos.CurrentPage,
                            NextUrl = Url.Action("GetAlbumView", "Album", new {AlbumId = Model.Album.Id, PageNumber = Model.Photos.CurrentPage + 1}),
                            PreviousUrl = Url.Action("GetAlbumView", "Album", new {UserId = Model.Album.Id, PageNumber = Model.Photos.CurrentPage - 1})
                        })
                    </div>
                }
            </div>
        </div>
    </div>
</div>