﻿@model PhotoAlbum.Models.Album.EditAlbumViewModel

@{
    ViewBag.Title = PageTitles.EditAlbum;
}

<div class="col col-md-6 m-auto mt-4">
    <div class="card">
        <div class="card-header">
            @EditAlbumResources.EditFormTitle
        </div>
        <div class="card-body">
            @using (Html.BeginForm("EditAlbum", "Album"))
            {
                @Html.HttpMethodOverride(HttpVerbs.Put)
                @Html.AntiForgeryToken() 
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Title)
                    <div class="col p-0">
                        @Html.TextAreaFor(model => model.Title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>
                </div>

                <div class="form-group">
                    @Html.DisplayNameFor(model => model.Description)
                    <div class="col p-0">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 3 })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="form-group row mx-1 ml-4">
                    @Html.CheckBoxFor(model => model.IsPrivate, new { @class = "form-check-input" })
                    @Html.LabelFor(model => model.IsPrivate, new { @class = "form-check-label" })
                    <small class="text-muted">@CreateAlbumResources.InformationAboutPrivateAlbum</small>
                </div>

                <div class="row">
                    <div class="ml-auto mr-3">
                        <button type="submit" class="btn btn-primary">@EditAlbumResources.EditingFormOkButton</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

