﻿@using PhotoAlbum.Infrastructure.Helpers
@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.Album.UserAlbumsViewModel

@{
    ViewBag.Title = PageTitles.UserAlbums;
}

<div class="container-fluid row p-0 py-3 m-0">
    <!-- User Albums -->
    <div class="col-md-12 p-0">
        <div class="d-flex flex-column">
            @if (!Model.Albums.Items.Any())
            {
                @Html.Partial("NoItems", new[] { "No albums" })
            }
            else
            {
                <!-- User -->
                <div class="d-flex justify-content-between">
                    <!-- User name -->
                    <div class="d-flex mt-3">
                        <strong>@Html.ActionLink($"{Model.Owner.FirstName} {Model.Owner.LastName}", "GetDetailedUserView", new { UserId = Model.Owner.Id, controller = "User" }, new { @class = "d-block text-truncate text-decoration-none text-dark" }) </strong>
                    </div>
                    <!-- User action -->
                    <div class="d-flex">
                        @if (User.IsAllowedNewAlbum(Model.Owner.Id))
                        {
                            <a class="d-flex flex-row btn p-3 nav-link text-body ph-new-post-button" href="@Url.Action("GetCreateAlbumFormView", "Album")">
                                <i class="fas fa-plus mr-2 mt-1"></i>
                                <p class="font-weight-bolder mb-0">@UserDetailedResources.UserNewAlbum</p>
                            </a>
                        }
                    </div>
                </div>
                <!-- Albums -->
                <div class="border-top mt-1 py-2">
                    <div class="d-flex flex-row flex-wrap card-columns">
                        @foreach (var album in Model.Albums.Items)
                        {
                            <a class="d-flex flex-row btn p-3 nav-link text-body ph-new-post-button" href="@Url.Action("GetAlbumView", "Album", new {AlbumId = album.Id})">
                                @Html.Partial("AlbumPreviewPartial", album)
                            </a>
                        }
                    </div>
                    @if (Model.Albums.TotalPages > 1)
                    {
                        <div class="d-flex">
                            @Html.Partial("SimplePaginationPartial", new SimplePaginationViewModel
                            {
                                TotalPages = Model.Albums.TotalPages,
                                CurrentPage = Model.Albums.CurrentPage,
                                NextUrl = Url.Action("GetUserAlbumsView", "Album", new { UserId = Model.Owner.Id, PageNumber = Model.Albums.CurrentPage + 1 }),
                                PreviousUrl = Url.Action("GetUserAlbumsView", "Album", new { UserId = Model.Owner.Id, PageNumber = Model.Albums.CurrentPage - 1 })
                            })
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>