﻿@model PhotoAlbum.Models.User.EditUserProfileFormViewModel

@{
    ViewBag.Title = PageTitles.EditUserProfileForm;
}

<div class="col-12 col-md-7 m-auto">
    @using (Html.BeginForm("EditUserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="ph-user-avatar image"
                 style="background-image: url('@Url.Action("GetImage", "Image", new { id = Model.ProfilePhotoId })'), url('./../../Content/imgs/default_avatar.svg')">
            </div>
            @Html.HiddenFor(model => model.Id)
        </div>

        <div class="col">
            <div class="row">
                <div class="form-group col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="ProfilePhoto" accept=".jpg, .jpeg, .png" onchange="previewAvatar(event)">
                        <label class="custom-file-label" id="ph-avatar-file-label" for="customFile">@EditUserProfileResources.ChooseNewAvatar</label>
                    </div>
                    @Html.ValidationMessage("ProfilePhoto")
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.FirstName, new { @class = "text-truncate" })
                    <div>
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col">
                    @Html.LabelFor(model => model.LastName, new { @class = "text-truncate" })
                    <div>
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    @Html.LabelFor(model => model.Biography, new { @class = "text-truncate" })
                    <div>
                        @Html.TextAreaFor(model => model.Biography, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Biography, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group pl-3">
            <input type="submit" value="@EditUserProfileResources.EditFormOkButton" class="btn btn-primary" />
        </div>
    }
</div>

@section scripts {
    <script src="~/Scripts/avatar-uploader.js"></script>
}