﻿@using Microsoft.AspNet.Identity
@using PhotoAlbum.Models
@model PhotoAlbum.Models.PaginatedViewModel<PhotoAlbum.Models.User.UserViewModel>
@{
    ViewBag.Title = PageTitles.Followings;
}

<div class="ph-500-width m-auto">
    <h6>@FollowersOrFollowingsResources.Followings</h6>
    @if (Model.Items == null || !Model.Items.Any())
    {
        @Html.Partial("NoItems", new[] { @FollowersOrFollowingsResources.NoFollowings })
    }
    else
    {
        @Html.Partial("UserFollowersOrFollowingListView", new UserListViewModel { Users = Model, IsActionAvailable = User.Identity.GetUserId() == Request.Params["UserId"] })
    }
</div>