﻿@using PhotoAlbum.Models
@model PhotoAlbum.Models.PaginatedViewModel<PhotoAlbum.Models.User.UserViewModel>
@{
    ViewBag.Title = PageTitles.Followers;
}

<div class="ph-500-width m-auto">
    <h6>@FollowersOrFollowingsResources.Followers</h6>
    @if (Model.Items == null || !Model.Items.Any())
    {
        @Html.Partial("NoItems", new[] { @FollowersOrFollowingsResources.NoFollowers })
    }
    else
    {
        @Html.Partial("UserFollowersOrFollowingListView", new UserListViewModel { Users = Model, IsActionAvailable = false })
    }
</div>