﻿@model PhotoAlbum.Models.User.UserViewModel
@{
    ViewBag.Title = PageTitles.Settings;
}

<div class="ph-500-width m-auto">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> @SettingsResources.BusinessFeatures </h5>
            @if (!User.IsInRole("Business"))
            {
                using (Html.BeginForm("MakeUserBusiness", "User"))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <p class="card-text"> @SettingsResources.BusinessDescription </p>
                    <button type="submit" class="btn btn-primary"> @SettingsResources.MakeMeBusiness </button>
                }
            }
            else
            {
                @Html.ActionLink(@SettingsResources.BusinessStatistic, "GetPostsStatisticsAsync", new { controller = "Statistic" }, new { @class = "text-decoration-none text-white btn btn-primary" })
            }
        </div>
    </div>

    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">@SettingsResources.PrivateAccount</h5>
            <p class="card-text">@SettingsResources.PrivateDescription</p>
            @if (!Model.IsPrivate)
            {
                using (Html.BeginForm("MakeUserPrivate", "User"))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <button type="submit" class="btn btn-primary"> @SettingsResources.MakeMePrivate </button>
                }
            }
            else
            {
                using (Html.BeginForm("MakeUserNotPrivate", "User"))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Put)
                    <button type="submit" class="btn btn-primary"> @SettingsResources.MakeMeNotPrivate </button>
                }
            }
        </div>
    </div>
</div>

