﻿@model PhotoAlbum.Models.User.EditUserAggregatedViewModel

@{
    ViewBag.Title = PageTitles.UserEditForm;
}

<div class="container pt-4">
    <div class="col-6 m-auto">
        @using (Html.BeginForm("EditUser", "User"))
        {
            @Html.HttpMethodOverride(HttpVerbs.Put)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EditUserModel.Id)
            @Html.HiddenFor(model => model.EditUserModel.Email)
            <div class="row">
                <div class="col">
                    <label>@Html.DisplayNameFor(model => model.EditUserModel.Email)</label>
                    <div class="form-group">
                        <div class="col p-0">
                            @Html.DisplayFor(model => model.EditUserModel.Email, new {htmlAttributes = new {@class = "form-control-plaintext"}})
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-truncate">
                <div class="col">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.EditUserModel.FirstName)
                        <div class="col p-0">
                            @Html.EditorFor(model => model.EditUserModel.FirstName, new {htmlAttributes = new {@class = "form-control form-control-sm"}})
                            @Html.ValidationMessageFor(model => model.EditUserModel.FirstName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.EditUserModel.LastName)
                        <div class="col p-0">
                            @Html.EditorFor(model => model.EditUserModel.LastName, new {htmlAttributes = new {@class = "form-control form-control-sm"}})
                            @Html.ValidationMessageFor(model => model.EditUserModel.LastName, "", new {@class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    @Html.LabelFor(model => model.EditUserModel.SelectedRoles, new {@class = "text-truncate"})
                    <div class="form-group p-0">
                        @Html.ListBoxFor(model => model.EditUserModel.SelectedRoles, Model.AvailableRoles, new {@class = "form-control form-control-sm"})
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group ml-auto">
                    <input type="submit" value=@EditUserResources.UpdatingFormOkButton class="btn btn-outline-primary"/>
                </div>
            </div>
        }
    </div>
</div>