﻿@model PhotoAlbum.Models.User.UsersFilterViewModel

@using (Html.BeginForm("GetUserManagementListView", "User", FormMethod.Get, new {@class = "w-100"}))
{
    @Html.AntiForgeryToken()
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <div class="form-group d-flex flex-column">
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control form-control-sm d-flex", placeholder = @UserListResources.UserFilteredName}})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
    </div>
    <div class="d-flex">
        <button type="submit" class="btn btn-primary btn-sm float-right">@UserListResources.UserListFilterButton</button>
    </div>
}