﻿@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.UserListViewModel

@foreach (var userItem in Model.Users.Items)
{
    <div class="row border-top border-bottom">
        <div class="mr-4">
            @Html.Partial("UserAvatartPartial", new UserAvatarViewModel {PhotoId = userItem.ProfilePhotoId})
        </div>
        <div class="d-flex flex-column justify-content-center">
            <a href="@Url.Action("GetDetailedUserView", "User", new {UserId = userItem.Id})" class="nav-link text-dark mx-0 px-0">
                <strong class="d-block text-truncate">@userItem.FirstName @userItem.LastName</strong>
            </a>
            <small class="d-block text-truncate">@userItem.Email</small>
        </div>
        @if (Model.IsActionAvailable)
        {
            <div class="ml-auto d-flex flex-column justify-content-center">
                @using (Html.BeginForm("StopFollow", "User", FormMethod.Post))
                {
                    <input id="userId" name="userId" type="hidden" value="@userItem.Id">
                    @Html.Hidden("redirectUri", Request.RawUrl)
                    <div class="d-flex my-3">
                        <button type="submit" class="btn btn-primary d-flex flex-fill justify-content-center">@UserDetailedResources.UserUnfollow</button>
                    </div>
                }
            </div>
        }
    </div>
}