﻿@model PhotoAlbum.Models.User.UserListAggregatedViewModel

@{
    ViewBag.Title = PageTitles.UserList;
}

<div class="row">
    <div class="col col-md-3">
        @Html.Partial("UserFilterPartial", Model.Filter)
    </div>
    <div class="col col-md-9">
        @Html.Partial("UsersListPartial", Model.Users)
    </div>
</div>