﻿@using Microsoft.AspNet.Identity
@using PhotoAlbum.Infrastructure.Helpers
@using PhotoAlbum.Models.Shared
@model PhotoAlbum.Models.User.FullUserViewModel

@{
    ViewBag.Title = PageTitles.UserDetails;
}

<div class="container-fluid row p-0 py-3 m-0">
    <div class="col-md-4 px-5">
        @if (User.Identity.GetUserId() == Model.Id)
        {
            <div class="row">
                <div class="ml-auto">
                    @Html.ActionLink(UserDetailedResources.Edit, "GetEditUserProfileFormView", "User", new {@class = "nav-link"})
                </div>
            </div>
        }
        <!-- Avatar -->
        <div class="d-flex justify-content-center">
            @Html.Partial("UserAvatartPartial", new UserAvatarViewModel {PhotoId = Model.ProfilePhotoId})
        </div>
        <!-- Followers, Following, Posts -->
        <div class="d-flex flex-row justify-content-between p-0 m-0">
            <div class="d-flex flex-column justify-content-center text-truncate">
                <a href="@Url.Action("GetFollowersView", "User", new {UserId = Model.Id})" class="nav-link text-dark">
                    <div class="d-flex justify-content-center">
                        <strong>@Html.DisplayFor(model => model.FollowersCount)</strong>
                    </div>
                    <div>
                        <small class="text-muted">@Html.DisplayNameFor(model => model.FollowersCount)</small>
                    </div>
                </a>
            </div>
            <div class="d-flex flex-column justify-content-center text-truncate">
                <a href="@Url.Action("GetFollowingsView", "User", new {UserId = Model.Id})" class="nav-link text-dark">
                    <div class="d-flex justify-content-center">
                        <strong>@Html.DisplayFor(model => model.FollowingCount)</strong>
                    </div>
                    <div>
                        <small class="text-muted">@Html.DisplayNameFor(model => model.FollowingCount)</small>
                    </div>

                </a>
            </div>
            <div class="d-flex flex-column justify-content-center text-truncate">
                <div class="d-flex justify-content-center">
                    <strong>@Html.DisplayFor(model => model.PostsCount)</strong>
                </div>
                <div>
                    <small class="text-muted">@Html.DisplayNameFor(model => model.PostsCount)</small>
                </div>
            </div>
        </div>
        <!-- Follow Button -->
        @if (User.Identity.GetUserId() != Model.Id)
        {
            if (Model.IsFollowed)
            {
                using (Html.BeginForm("StopFollow", "User", FormMethod.Post))
                {
                    @Html.Hidden("userId", Model.Id)
                    @Html.Hidden("redirectUri", Request.RawUrl)
                    <div class="d-flex my-3">
                        <button type="submit" class="btn btn-primary d-flex flex-fill justify-content-center">@UserDetailedResources.UserUnfollow</button>
                    </div>
                }
            }
            else
            {
                using (Html.BeginForm("StartFollow", "User", FormMethod.Post))
                {
                    @Html.Hidden("userId", Model.Id)
                    @Html.Hidden("redirectUri", Request.RawUrl)
                    <div class="d-flex my-3">
                        <button type="submit" class="btn btn-primary d-flex flex-fill justify-content-center">@UserDetailedResources.UserFollow</button>
                    </div>
                }
            }
        }
        <!-- Biography and name -->
        <div class="d-flex flex-column pt-4">
            <div class="d-flex flex-wrap text-break">
                <strong>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</strong>
            </div>
            <div class="d-flex flex-wrap text-break">
                <span class="text-muted">@Html.DisplayFor(model => model.Email)</span>
                <span>
                    @if (Model.Id == User.Identity.GetUserId() && Model.IsPrivate)
                    {
                        <span class="badge badge-secondary ml-1">Private</span>
                    }
                </span>
            </div>
            @if (!string.IsNullOrEmpty(Model.Biography))
            {
                <div class="d-flex text-wrap text-truncate text-break">
                    <p class="font-weight-light">@Html.DisplayFor(model => model.Biography)</p>
                </div>
            }
        </div>
        <!-- Albums -->
        <div class="d-flex flex-column pt-4">
            @if (Model.Albums.Any())
            {
                <div class="d-flex justify-content-between">
                    <div class="ml-auto">
                        <small>
                            @Html.ActionLink(UserDetailedResources.UserAlbums, "GetUserAlbumsView", "Album", new {UserId = Model.Id}, new {@class = "nav-link"})
                        </small>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between flex-wrap">
                    @foreach (var albumPreview in Model.Albums)
                    {
                        <a class="d-flex flex-row btn p-3 nav-link text-body ph-new-post-button" href="@Url.Action("GetAlbumView", "Album", new {AlbumId = albumPreview.Id})">
                            @Html.Partial("AlbumPreviewPartial", albumPreview)
                        </a>
                    }
                </div>
            }
        </div>
    </div>
    <!-- User Posts -->
    <div class="col-md-8 p-0">
        <div class="d-flex flex-column">
            <!-- Action bar -->
            <div class="d-flex">
                <div class="d-flex ml-auto">
                    @if (User.IsAllowedNewPost(Model.Id))
                    {
                        <a class="d-flex flex-row btn p-3 nav-link text-body ph-new-post-button" href="@Url.Action("GetCreatePostFormView", "Post")">
                            <i class="fas fa-plus mr-2 mt-1"></i>
                            <p class="font-weight-bolder mb-0">@UserDetailedResources.UserNewPost</p>
                        </a>
                    }
                    @if (User.IsAllowedNewAlbum(Model.Id))
                    {
                        <a class="d-flex flex-row btn p-3 nav-link text-body ph-new-post-button" href="@Url.Action("GetCreateAlbumFormView", "Album")">
                            <i class="fas fa-plus mr-2 mt-1"></i>
                            <p class="font-weight-bolder mb-0">@UserDetailedResources.UserNewAlbum</p>
                        </a>
                    }
                </div>
            </div>
            <!-- Posts -->
            <div class="border-top mt-1 py-2">
                @if (!Model.Photos.Items.Any())
                {
                    @Html.Partial("NoItems", new[] {UserDetailedResources.UserNoPosts, UserDetailedResources.UserAddNewPost})
                }
                else
                {
                    @Html.Partial("PostsTiledPartial", Model.Photos)
                }
            </div>
            @if (Model.Photos.TotalPages > 1)
            {
                <div class="d-flex">
                    @Html.Partial("SimplePaginationPartial", new SimplePaginationViewModel
                    {
                        TotalPages = Model.Photos.TotalPages,
                        CurrentPage = Model.Photos.CurrentPage,
                        NextUrl = Url.Action("GetDetailedUserView", "User", new {UserId = Model.Id, PageNumber = Model.Photos.CurrentPage + 1}),
                        PreviousUrl = Url.Action("GetDetailedUserView", "User", new {UserId = Model.Id, PageNumber = Model.Photos.CurrentPage - 1})
                    })
                </div>
            }
        </div>
    </div>
</div>