﻿@model IEnumerable<PhotoAlbum.Models.User.UserViewModel>

@{
    ViewBag.Title = PageTitles.UserList;
}

<table class="table table-striped">
    <tr>
        <th class="text-truncate">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th class="text-truncate">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th class="text-truncate text-break">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="text-truncate">
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            <!-- Actions -->
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-truncate">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td class="text-wrap text-truncate d-block text-break">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                <div class="btn-group btn-group-sm float-right" role="group" aria-label="...">
                    @Html.ActionLink(UserListResources.UserListEditButton, "GetUserEditFormView", new {id = item.Id}, new {@class = "btn btn-outline-primary"})
                    @Html.ActionLink(UserListResources.UserListDetailsButton, "GetDetailedUserView", new {UserId = item.Id}, new {@class = "btn btn-outline-primary"})
                </div>
            </td>
        </tr>
    }
</table>